<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h2>📚 Biblioteca</h2>
    <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/livros">Livros</a>
        <a href="/meus_emprestimos">Empréstimos</a>
        <a href="/logout">Sair</a>
    </div>
</header>

<div class="container">

    <aside>
        <h3>Menu</h3>
        <ul>
            <li><a href="/dashboard">Início</a></li>
            <li><a href="/livros">Livros</a></li>
            <li><a href="/meus_emprestimos">Empréstimos</a></li>
        </ul>
    </aside>

    <main>
        {% block content %}{% endblock %}
    </main>

</div>

</body>
</html>