{% extends "base.html" %}

{% block title %}{{ livro.titulo }}{% endblock %}

{% block content %}

<div class="container">

    <div class="card">
        <h1>{{ livro.titulo }}</h1>

        <p><strong>Autor:</strong> {{ livro.autor }}</p>
        <p><strong>Ano:</strong> {{ livro.ano }}</p>
        <p><strong>Estoque:</strong> {{ livro.quantidade_estoque }}</p>
        <p><strong>ISBN:</strong> {{ livro.ISBN }}</p>

        {% if ja_emprestado %}
            <p class="sucesso">✅ Livro emprestado com sucesso!</p>

        {% elif livro.quantidade_estoque > 0 %}
            <form method="POST" action="/emprestimo/{{ livro.id_livro }}">
                <button type="submit" class="btn">Emprestar livro</button>
            </form>

        {% else %}
            <p class="sem-estoque">
                Livro indisponível para empréstimo
            </p>
        {% endif %}

    </div>

    <a href="/catalogo" class="voltar">← Voltar para o catálogo</a>

</div>

{% endblock %}