{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="auth-container">

    <div class="card">
        <h1>🔐 Login</h1>

        <form method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="senha" placeholder="Senha" required>

            <button type="submit">Entrar</button>
        </form>

        {% if erro %}
            <p class="erro">Email ou senha inválidos</p>
        {% endif %}

        <a href="/cadastro" class="link">Criar conta</a>
    </div>

</div>

{% endblock %}